{% extends 'base/base.html' %}
{% load static %}
{% load pool_extras %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/event.css' %}">
<script defer src="{% static 'js/event.js' %}">
</script>
{% endblock %}

{% block title %}
<title>{{matchup.name}}</title>
{% endblock %}

{% block body %}
    <main id="main-content">
        <div class="event-matchup">
            <h2>Partida</h2>
        </div>
        <select name="select-odd" id="select-odd">
            {% for market in matchup.markets %}
                <option value="{{market.handicap}}">ODD: {{market.handicap}}</option>
            {% endfor %}
        </select>
        <ul id="markets-table">
            {% for market in matchup.markets %}
                <li class="market-item" id="{{market.id}}">
                    <h2>Mais/Menos {{market.handicap}}</h2>
    
                    <i class="bi bi-caret-down-fill"
                       onclick="arrowOnClick('{{market.id}}')"
                       data-id-market={{market.id}}>
                    </i>
                    
                    <div class="market-item-content-hidden">
                        <!-- UNDER -->
                        <div class="market-item-prices">
                            <h2 class="title-back-lay">UNDER {{ market.handicap }} </h2>
                            <div class="block-prices-back-lay">
                                <!--BACK-->
                                <div class="price-back-lay">
                                    {% for price in market.runners.1.prices %}
                                        {% if price.side == "back" %}
                                            <div class="price-back-odd">
                                                <p class="price-odd">{{price.odds}}</p>
                                                <p class="available-amount">
                                                    {{ price|available_amount:"available-amount"}}
                                                </p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <!--LAY-->
                                <div class="price-back-lay">
                                    {% for price in market.runners.1.prices %}
                                        {% if price.side == "lay" %}
                                            <div class="price-lay-odd">
                                                <p class="price-odd">{{price.odds}}</p>
                                                <p class="available-amount">{{ price|available_amount:"available-amount"}}</p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
    
                        <!-- OVER -->
                        <div class="market-item-prices">
                            <h2 class="title-back-lay">OVER {{ market.handicap }}</h2>
    
                            <div class="block-prices-back-lay">
                                <!--BACK-->
                                <div class="price-back-lay">
                                    {% for price in market.runners.0.prices %}
                                        {% if price.side == "back" %}
                                            <div class="price-back-odd">
                                                <p class="price-odd">{{price.odds}}</p>
                                                <p class="available-amount">{{ price|available_amount:"available-amount"}}</p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
    
                                <!--LAY-->
                                <div class="price-back-lay">
                                    {% for price in market.runners.0.prices %}
                                        {% if price.side == "lay" %}
                                            <div class="price-lay-odd">
                                                <p class="price-odd">{{price.odds}}</p>
                                                <p class="available-amount">{{ price|available_amount:"available-amount"}}</p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
    
                    </div>
    
                    <ul class="market-ladder-hidden">
                        {% for ladder_item in market.ladder %}
                            <li class="ladder-item" data-odd-value="{{line.0}}" data-market-value="{{market.handicap}}">
                                
                            </li>
                            <li class="ladder-item ladder-item-lay" data-odd-value="{{ladder_item.odd}}" data-market-value="{{market.handicap}}" data-market-id="{{market.id}}">
                                {{ladder_item.back}}
                            </li>
                            <li class="ladder-item ladder-item-odd" data-odd-value="{{ladder_item.odd}}" data-market-value="{{market.handicap}}" data-market-id="{{market.id}}">
                                {{ladder_item.odd}}
                            </li>
                            <li class="ladder-item ladder-item-back" data-odd-value="{{ladder_item.odd}}" data-market-value="{{market.handicap}}" data-market-id="{{market.id}}">
                                {{ladder_item.lay}}
                            </li>
                        {% endfor %}
                    </ul>
    
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}