<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/markets.css">
    {% block links %}
    {% endblock %}
    <script src="/static/js/home.js" defer></script>
    <title>HomePage - LADDER</title>
</head>
<body>
    <header id="header-block">
        <nav id="navigation-block">
            <h1>Ladder's Vitorel</h1>
        </nav>
    </header>
    <main id="partidas-block">
        <ul id="lista-de-jogos">
            <h1 class="title-block-main">Partidas ao Vivo</h1>
            {% for event in events %}
                <li class="partida" data-event-id="{{event.id_matchup}}">
                    <div class="title-block">
                        <h2 class="title-text">{{event.matchup_name}}'</h2>
                        <i class="bi bi-arrows-angle-expand"></i>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <ul id="stakes-default">
            <div class="add-default-stake">
                <h1 class="title-block-main default-stake">Stakes Padrões</h1>
                <button class="add-stake-default-button"> <i class="bi bi-plus-circle-fill"></i> </button>
            </div>
            {% for stake_default in stakes_defaults %}
                <form class="form-stake-default form-delete-stake" action="/api/default-stakes/{{ stake_default.id }}" method="post">
                    {% csrf_token %}
                    <input class="input-stake-id" type="hidden" value="{{ stake_default.id }}">
                    <input class="input-stake-default" type="text" value="{{ stake_default.stake }}">
                    <input class="delete-button-stake-default" type="submit" value="apagar">
                </form>
            {% endfor %}
        </ul>
    </main>
</body>
</html>