{% extends 'base/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script defer src="{% static 'js/home.js' %}">
    </script>
{% endblock %}

{% block title %}
<title>Ladder | Home</title>
{% endblock %}

{% block body %}
    <main>
        <ul class="events-table">
            {% for event in matchups %}
                {% if event.is_running %}
                    <!-- <a href="{% url 'event_detail' event.id %}" target="_blank"> -->
                        <li id="{{ event.id }}" class='event-item'>
                            <div class="time-event">
                                <p>{{ event.time_elapsed }}'</p>
                            </div>
                            <div class="score-event">
                                <p class="data-score-event">
                                    {{ event.home_score }}
                                </p>
                                <p class="data-score-event">
                                    {{ event.away_score }}
                                </p>
                            </div>
                            <div class="moneyline">
                                <div class="detail-event">
                                    <h2 class="team-title">
                                        {{ event.team_a }}
                                    </h2>
                                    <h2 class="team-title">
                                        {{ event.team_b }}
                                    </h2>
                                    <!-- <p class="team-date">{{event.formated_start}}</p> -->
                                </div>

                                <!-- <div class="block-moneyline">
                                    <div class="title-moneyline">
                                        <p>1</p>
                                    </div>
                                    <div class="back-lay">
                                        <div class="back-odd">
                                            {{event.back_odd_home}}
                                        </div>
                                        <div class="lay-odd">
                                            {{event.lay_odd_home}}
                                        </div>
                                    </div>
                                </div> -->

                                <!-- <div class="block-moneyline">
                                    <div class="title-moneyline">
                                        <p>X</p>
                                    </div>
                                    <div class="back-lay">
                                        <div class="back-odd">
                                            {{event.back_odd_draw}}
                                        </div>
                                        <div class="lay-odd">
                                            {{event.lay_odd_draw}}
                                        </div>
                                    </div>
                                </div> -->

                                <!-- <div class="block-moneyline">
                                    <div class="title-moneyline">
                                        <p>2</p>
                                    </div>
                                    <div class="back-lay">
                                        <div class="back-odd">
                                            {{event.back_odd_away}}
                                        </div>
                                        <div class="lay-odd">
                                            {{event.lay_odd_away}}
                                        </div>
                                    </div>
                                </div> -->
                            
                            </div>
                        </li>
                    <!-- </a> -->
                {% endif %}
            {% endfor %}
        </ul>
    </main>
{% endblock %}
