{% load pool_extras %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/ladder.css">
    <script src="/static/js/ladder.js" defer>
    </script>
    <title>{{matchup.matchup_name}}</title>
</head>
<body>
    <main id="ladder-block">
        <h1 id="title-matchup">{{matchup.matchup_name}} - {{market.handicap}}</h1>
        <ul id="ladder-items">
            {% for odd in ladder.prices %}
                <li 
                    class="ladder-item ladder-item-lay" 
                    data-odd-value="{{odd.odd}}" 
                    data-market-value="{{odd.handicap}}" 
                    data-event-id="{{matchup.id_matchup}}"
                    data-market-id="{{ladder.market_id}}"
                    data-side="lay"
                    data-runner-id="{{ladder.runner_under_id}}">
                    {{odd.back}}
                </li>
                <li 
                    class="ladder-item ladder-item-odd" 
                    data-odd-value="{{odd.odd}}" 
                    data-market-value="{{ladder.handicap}}" 
                    data-market-id="{{ladder.market_id}}"
                    data-runner-id="{{ladder.runner_under_id}}">
                    {{odd.odd}}
                </li>
                <li 
                    class="ladder-item ladder-item-back" 
                    data-odd-value="{{odd.odd}}" 
                    data-side="back"
                    data-event-id="{{matchup.id_matchup}}"
                    data-market-value="{{ladder.handicap}}" 
                    data-market-id="{{ladder.market_id}}"
                    data-runner-id="{{ladder.runner_under_id}}"
                    >
                    {{odd.lay}}
                </li>
                <li class="ladder-item ladder-item-empty" 
                    data-odd-value="{{odd.odd}}" 
                    data-market-value="{{ladder.handicap}}" 
                    data-event-id="{{matchup.id_matchup}}"
                    data-market-id="{{ladder.market_id}}"
                    data-runner-id="{{ladder.runner_under_id}}">
                </li>
            {% endfor %}
            <!-- {% for ladder_item in market.ladder %}
                <li 
                    class="ladder-item ladder-item-lay" 
                    data-odd-value="{{ladder_item.odd}}" 
                    data-market-value="{{market.handicap}}" 
                    data-event-id="{{market|get_item:'event-id'}}"
                    data-market-id="{{market.id}}"
                    data-side="lay"
                    data-runner-id="{{market.runners.1.id}}">
                    {{ladder_item.back}}
                </li>
                <li 
                    class="ladder-item ladder-item-odd" 
                    data-odd-value="{{ladder_item.odd_text}}" 
                    data-market-value="{{market.handicap}}" 
                    data-market-id="{{market.id}}"
                    data-runner-id="{{market.runners.1.id}}">
                    {{ladder_item.odd}}
                </li>
                <li 
                    class="ladder-item ladder-item-back" 
                    data-odd-value="{{ladder_item.odd}}" 
                    data-side="back"
                    data-event-id="{{market|get_item:'event-id'}}"
                    data-market-value="{{market.handicap}}" 
                    data-market-id="{{market.id}}"
                    data-runner-id="{{market.runners.1.id}}"
                    >
                    {{ladder_item.lay}}
                </li>
                <li class="ladder-item ladder-item-empty" 
                    data-odd-value="{{ladder_item.odd}}" 
                    data-market-value="{{market.handicap}}" 
                    data-event-id="{{market|get_item:'event-id'}}"
                    data-market-id="{{market.id}}"
                    data-runner-id="{{market.runners.1.id}}">
                </li>
            {% endfor %} -->
        </ul>
    </main>
</body>
</html>