/* Esse css estiliza toda a página home page */

*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-image: linear-gradient(to bottom, #24292e, #2B3137);
    background-attachment: fixed;
    overflow-y: scroll;
}

header#header-block{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 10px;
    background-color: #24292e;
}

nav#navigation-block{
    background-color: transparent;
    width: 60%;
    margin:auto;
    
}

nav#navigation-block > h1{
    background-color: transparent;
    font-size: 38px;
    font-weight: 500;
    color: #D989A6;
}

main#partidas-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-top: 8rem;
    column-gap: 20px;
}

#lista-de-jogos > h1{
    margin-bottom: .5rem;
}

#lista-de-jogos{
    display: flex;
    flex-direction: column;
    list-style: none;
    row-gap: 5px;
    min-width: 400px;
}


.partida{
    font-weight: 600;
    background-color: #24292e;
    height: 30px;
    border: 1px solid #2dba4e;
    padding: 10px;
    border-radius: 10px;
    min-width: 500px;
    padding-right: 10px;
}

.partida.open{
    font-weight: 600;
    background-color: #24292e;
    height: 400px;
    border: 1px solid #2dba4e;
    padding: 10px;
    border-radius: 10px;
    min-width: 500px;
    padding-right: 10px;
}

.title-text, .bi-arrows-angle-expand{
    font-size: 17px;
    background-color: transparent;
    cursor: pointer;
}

.title-block{
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
    background-color: transparent;
    justify-content: space-between;
    padding: 5px;
}

h1.title-block-main{
    font-weight: 500;
    font-size: 22px;
}

div.add-default-stake{
    display: flex;
    flex: row;
    column-gap: 20px;
    align-items: center;
    margin-bottom: 10px;
}

.add-stake-default-button{
    min-width: 60px;
    background-color: #0099DD;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    box-shadow: 2px 2px 20px #24292e;
}

.add-stake-default-button:hover{
    background-color: #008ac6;
}

.bi-info-circle{
    color: white;
    margin-right: 5px;
    background-color: transparent;
}

ul#stakes-default{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    justify-content: start;
    min-width: 300px;
    padding: 10px;
}

.form-stake-default{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.input-stake-default{
    color: white;
    background-color: #353d45;

}

.save-button-stake-default, .delete-button-stake-default, .input-stake-default{
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}
.save-button-stake-default, .delete-button-stake-default{
    color: white;
}
.save-button-stake-default{
    background-color: #2dba4e;
}
.delete-button-stake-default{
    background-color: #FF4858;
}

.save-button-stake-default:hover{
    background-color: #2dba4e98;
}
.delete-button-stake-default:hover{
    background-color: #ff4857b6;
}