
*{
    font-family: Helvetica, sans-serif, monospace;
}

body{
    background-color: #24292e;
    padding: 0;
    margin: 0;
}

#ladder-block{
    margin:auto;
    max-width: 400px;
}

#ladder-items::-webkit-scrollbar-track{
    background-color: transparent;
    background-color: #24292e;
    width: 5px;


}

#ladder-items::-webkit-scrollbar{
    background-color: transparent;
    background-color: #24292e;
    width: 5px;

}

#ladder-items::-webkit-scrollbar-thumb{
    background-color: #F2BC1B;
    border-radius: 10px;
    width: 5px;
}

#ladder-items{
    background-color: #273240;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 2fr;
    list-style: none;
    color: white;
    padding: 0;
    overflow-y: scroll;
    height: 600px;
    margin-top: 5px;
}

.ladder-item:hover{
    background-color: #F2BC1B;
    cursor: pointer;
}

.ladder-item{
    background-color: transparent;
    font-size: 13px;
    font-weight: 700;
    border: 1px solid white;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.ladder-item{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ladder-item.odd_color_lay{
    background-color: #D989A6;
}

.ladder-item.odd_color_back{
    background-color: #57AAF2;
}

.ladder-item-odd.open{
    background-color: #5A668C;
}

.ladder-item-odd.closed{
    background-color: #F23030;
}

.ladder-item-odd.suspended{
    background-color: #F23030;
}

.ladder-item.suggestion-middle{
    color: 	#F2C12E;
}

.ladder-item.suggestion-positive{
    color: 	#2dba4e;
}

.ladder-item.suggestion-negative{
    color: 	#D989A6;
}


#title-matchup{
    font-size: 18px;
    color: white;
    text-align: center;
}

#stake-default-list{
    justify-content: start;
    display: flex;
    flex-direction: row;
    list-style: none;
    column-gap: 2px;
    padding: 0;
    margin-bottom: 2px;
}

li.stake-default-item{
    color: white;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid #D989A6;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

li.stake-default-item.selected{
    color: white;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid #D989A6;
    background-color: #D989A6;
    padding: 5px;
    border-radius: 3px;
}